/*-- scss:defaults --*/

/*-- scss:rules --*/
.slide-background-content{
  background-image: url("https://fordschool.umich.edu/themes/custom/ford/images/og-image.png");
  background-size: 100% 100%;
  opacity: .1
}
